body{
  width:1100px;
  margin-right: auto;
  margin-left : auto;
  background-color: floralwhite;
}



.contents{
  display: flex
}

.contents-row{
  float: left;
}

.contents-right{
  margin: 20px 70px 5px 0;
}

.nav-wrapper{
  a{
    padding: 0 20px;
  }
}

.pagination{
  text-align: center;
}

.row{
  margin: 20px 0 0 20px;
  .col.m7{
    width: 92%;
  }
}
